{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-5'>

  <h1>CSS lessons</h1>

  <h2 class='box p-2'>
    Backgrond with te help of
    <b>CLASS SELECTOR</b>
  </h2>

  <h3 style='color: rgb(173, 173, 45)'>Style in h1 in HTML
    doc (BIGGEST PRIORITY)</h1>

  <h1 id='user'>ID indificator #</h1>

  <button
    type='button'
    class='button'
  >Continue</button>

  <p>Parent > Children</p>
</div>

<footer class="p-5 box">
     <h1>Footer</h1>

     <p class="user">Parent > Children</p>

     <div>
        <div>
            <em>Нащадок через пробіл або ">>" </em>
        </div>
     </div>
</footer>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}