{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}
 {{!-- Урок 1 --}}
 <div class='p-5'>

  <h1>CSS lessons</h1>

  <h2 class='box p-2'>
    Backgrond with te help of
    <b>CLASS SELECTOR</b>
  </h2>

  <h3 style='color: rgb(173, 173, 45)'>Style in h1 in HTML
    doc (BIGGEST PRIORITY)</h1>

  <h1 id='user'>ID indificator #</h1>

  <button
    type='button'
    class='button'
  >Continue</button>

  <p>Parent > Children</p>
</div>

<footer class="p-5 box">
     <h1>Footer</h1>

     <p class="user">Parent > Children</p>

     <div>
        <div>
            <em>Нащадок через пробіл або ">>" </em>
        </div>
     </div>
</footer>
{{!-- Урок 2-3 --}}
<div class='row p-3'>
  <div class='card card-dark col-5'>
    <h3 class='text-center'>1. First/Last child (працює не
      лише до ul та li, обирає зі списку перший та останній
      компонент)</h3>
    <ul>
      <li class='item'>First child</li>
      <li class='item'>JustTest</li>
      <li class='item'>JustTest</li>
      <li class='item'>Last child</li>
    </ul>
  </div>
  <div class='card card-dark col-5'>
    <h3 class='text-center'>2. Only 1 child (працює коли
      обгорнутий лише один тег всередині)</h3>
    <ul>
      <li class='item'>Only child</li>
    </ul>
  </div>
  <div class='card card-dark col-12'>
    <h3 class='text-center'>3. Селектор першого типу (по
      типу тегу first-of-type перші теги які не
      повторюються)</h3>
    <div class='item'>First</div>
    <div class='item'>Another way</div>
    <p class='item'>Second</p>
    <section class='item'>Third class</section>
    <article class='item'>Last</article>
    <p class='item'>Second/Last-of-time</p>
    <p class='item'>Second/Last-of-time</p>
  </div>
  <div class='card card-dark col-12'>
    <h3 class='text-center'>4. Селектор одного типу</h3>

    <div class='item'>Only child</div>
    <div class='item'>Third class</div>
    <div class='item'>Last</div>
    <strong class='item'>Test strong only-of-type</strong>
    <p class='item'>Second</p>
    <p class='item'>Second/Last-of-time</p>
  </div>

  <div class='card card-dark col-12'>
    <h3 class='text-center'>Selector 3 part</h3>
    <input
      class='input-dark'
      placeholder='This is text'
      required
    />
    <input class='input-dark' type='number' />
  </div>
  <div class='card card-dark col-12 img p-5 m-2'>
    <h3 class='text-center'>Selector 3 part</h3>
    <img
      alt='image small card 100px'
      class='small-img'
      src='https://picsum.photos/200/300'
      height='300px'
    />

    <a
      href='https://picsum.photos/200/300'
      rel='external'
    >Link</a>

    <button class='btn befor-after'>Click me</button>
    <br />
    <a
      class='btn btn-secondary big'
      href='https://picsum.photos/200/300'
    >Click me 2</a>
  </div>

  <div class='card card-dark col-12 img p-5 m-2'>
    <h3 class='text-center'>Selector 3 part</h3>
    <p class='big-text befor-after'>This is text about big
      test info e;felf ughdvfjhevfwje bejchbwjhv wefbjhbl
      wefnwlbnwol rguriebrihrfh brhkbgkwrhbg</p>
  </div>

</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}