:root {
  background: purple;
}

html {
  max-width: 720px;
  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

.box {
  background: #695b5b;
}

#user,
.user {
  color: blue;
}

h1,
h2,
button {
  color: green;
}

.button {
  background: red;
  color: black;
  padding: 10px;
}

div > p {
  color: blueviolet;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer em {
  color: orange;
}
