html {
  max-width: 900px;
}

.card-dark {
  background: rgb(150, 147, 147);
  margin: 5px;
  padding: 5px;
}

#test:target {
  color: red;
}

.link:link {
  color: red;
}

.link:hover {
  color: green;
}
.card:hover {
  background: white;
}
.link:active {
  color: purple;
}
.card:active {
  background-color: palegreen;
}

input {
  background-color: gray;
}

input:focus {
  background-color: red;
}

.card:focus-within {
  background: rgb(114, 238, 5);
}

.card:lang(en) > span::after {
  content: '(en)';
}
button {
  background-color: greenyellow;
}
button:enabled {
  background-color: green;
}

button:disabled {
  background-color: aqua;
}
.inp:read-write {
  background-color: blue;
}
.inp:read-only {
  background-color: red;
}

input[type='checkbox']:checked ~ span {
  background: red;
}

.valid:valid {
  background: yellow;
}
.valid:invalid {
  background: goldenrod;
}

.valid:optional {
  background: green;
}
.number:focus {
  background: gray;
}
.number:out-of-range {
  background: red;
}
.number:in-range {
  background: green;
}
.number:invalid {
  background: yellow;
}
input:placeholder-shown ~ span {
  background: pink;
}
