:root {
  background: purple;
}

html {
  max-width: 720px;
  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

.box {
  background: #695b5b;
}

#user,
.user {
  color: blue;
}

h1,
h2,
button {
  color: green;
}

.button {
  background: red;
  color: black;
  padding: 10px;
}

div > p {
  color: blueviolet;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer em {
  color: orange;
}

.item {
  color: rgb(9, 149, 30);
}

.item:first-child,
.card-dark:first-child {
  color: blue;
}

.item:last-child,
.card-dark:last-child {
  color: rgb(174, 7, 7);
}

.item:only-child {
  color: yellow;
}

p:first-of-type {
  color: blueviolet;
}

.item:last-of-type {
  color: bisque;
}

.item:only-of-type {
  color: rgb(105, 38, 3);
}
/* ===================================== */
.input-dark {
  background: rgb(85, 80, 80);
}
.input-dark[type='number'] {
  background: rgb(6, 191, 53);
}

.small-img[alt~='small'] {
  height: 500px;
}

/* .card.img {
  height: 600px;
} */
a[rel~='external'] {
  color: green;
}

button[class|='btn'] {
  background: rgb(194, 200, 7);
}

a[class^='btn'] {
  background: rgb(116, 132, 128);
}

/* a[class*='btn'] {
  background: rgb(8, 187, 166);
}

a[class$='big'] {
  background: rgb(45, 11, 233);
} */

.btn::first-letter {
  color: red;
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: blue;
}

/* .big-text::before {
  content: '$$$';
  color: green;
} */

.befor-after::after,
.befor-after::before {
  content: '$$$';
  color: blue;
  background: green;
}
